streamlit==1.33.0
langchain==0.1.16
langchain-community==0.0.34

sentence-transformers==2.6.1
transformers==4.39.3

python-dotenv==1.0.1
requests==2.31.0
youtube-transcript-api==0.6.2
pytube==15.0.0

chromadb==0.4.24
protobuf==3.20.3
opentelemetry-api==1.22.0
opentelemetry-sdk==1.22.0